SUBSYSTEM=="usb", ATTRS{idVendor}=="2058", ATTRS{idProduct}=="1005", GROUP="plugdev", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="1004", GROUP="plugdev", MODE="0666"
